


.bam {
    padding: 20px;
    height: 200px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: aliceblue;

}
.bam a{
    text-decoration: none;
    outline: none;
    color: rgb(255, 123, 75);
}

.topics {
    display: flex; 
}

.gif {
    text-align: center;
    padding: 0;
    float: right;
    justify-content: space-between;
    max-width: 450px;
    margin: 70px;
    max-height: 400px;
    background-color: rgb(255, 255, 255);
}

.gif img {
    border-radius: 6px;
}

.gif img:hover {
    border-radius: 6px;
    box-shadow: 5px 1px  1px 1px black;
}
.gif h1 {
    font-weight: 600;
    font-family: monospace;
}
.gif a {
    text-decoration: none;
    outline: none;
    color: black;

}
.gif a:hover{
    color: orange;
}
